* {
   margin: 0;
   padding: 0;
   box-sizing:border-box;
}

a{
   text-decoration:none;
   color: black;
}

.nav-bar{
   height:3.5rem;
   background-color:aquamarine;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: auto;
   position:sticky;
   top: 4rem;
   color:black;
   
}

.main-pic{
   width:100%;
   height:100vh;
   background-image: url(mi.jpg);
   background-size:cover;
   background-repeat: no-repeat;
   
}

.home{
   font-size:x-large;
   font-weight: 500;
  }

.nav-search{
   height:2rem;
   width:30rem;
   display: flex;
   align-items: center;
}

.nav-input{
   height:40px;
   width:500px;
   border-radius: 15px 0 0 15px;
   text-align:center;
   font-size: medium;
   border:none;
}

.search-icon{
   height:40px;
   width:45px;
   /*border: 1px solid black;*/
   border-radius: 0 15px 15px 0;
   background-color:rgb(46, 204, 46);
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: x-large;
  
}

.nav-blog{
   font-size:x-large;
   font-weight: 500;
}

.nav-about{
   font-size:x-large;
   font-weight: 500;
}

.nav-contact{
   font-size: x-large;
   font-weight: 500;
}

.blank-div{
   font-size:x-large;
   font-weight: 500;
   margin-right: 10px;
}

.first-nav{
   width:100%;
   height:3rem;
   background-color:#4F6F52;
   color:white;
   font-weight: 900;
   display: flex;
   justify-content:space-between;
   align-items: center;
   position:sticky;
   top:0%;
}

.website-logo{
   margin-left:12px;
   background-image: url(iconpng.png);
   height:50px;
   width:5rem;
   background-size: contain;
   background-repeat: no-repeat;
}

.website-name{
   background-image: url(textpng.png);
   height:50px;
   width:10rem;
   background-size: contain;
   background-repeat: no-repeat;
 margin-left:-930px;
}

.login-signup{
   margin-right:1.5rem;
   
}

.login{
   height:35px;
   width: 80px;
   border-radius: 20px;
   font-size:large;
   border:none;
   margin-right: 0.75rem;
   background-color: #D2E3C8;
   
}

.login:hover{
   opacity: 0.8;
}

.sign-up{
   height:35px;
   width: 80px;
   border-radius: 20px;
   font-size:large;
   border:none;
   background-color: #D2E3C8;

}

.create-remedy{
   margin-top: 150px;
   margin-left:100px;
   height: 400px;
   width:500px;
   background-color: transparent;
}

.main-button{
   height:75px;
   width: 500px;
   /*background-color: rgb(46, 204, 46);*/
   font-size: xx-large;
   font-weight: 450;
   border-radius: 40px;
   color:beige !important;
   border:1px solid wheat;
   /*margin-top:480px;*/
   background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,121,1) 100%);
   margin-left: 18rem;
}

.slogan{
   height:120px;
   width:400px;
  /* color:rgb(18, 109, 18);*/
   font-size: 40px;
}

.slogan-line1{
   color:rgb(18, 109, 18);
   margin:5px;
}

.slogan-line2{
   color:rgba(128, 128, 128, 1);
   margin:5px;
}


.slide-bar{
   height:400px;
   width:100%;
   display: grid;
   max-width: 1900px;
   grid-template-columns: repeat(6,1fr);
   gap: 20px;
   /*align-items:center;*/
   position:relative;
overflow-x: auto;
   /*margin-top: 400px;*/
   scrollbar-width: none;
   margin-bottom: 10px;

}

.slide{
   border:1px solid black;
}

.slide-bar ::-webkit-scrollbar{
   display :none
}

 .headache{
   margin-top:10px;
   margin-left:40px;
   height:200px;
   width:200px;
   border-radius: 50%;
   background-image:url(headache2.webp);
   background-size:cover;
   background-repeat: no-repeat;
   
   
}

.common-cold{
      margin-top:10px;
      margin-left:40px;
      height:200px;
      width:200px;
      border-radius: 50%;
      background-image:url(cold.jpg);
      background-size:cover;
      background-repeat: no-repeat;

}

.disease-para{
  /* margin-top:100px;*/
   margin-right: 30px;
   margin-bottom: 5px;;
   font-size: x-large;
   font-weight: 500;
   height:100px;
   width:300px;
   text-align: center;
}

.sore-throat{
      margin-top:10px;
      margin-left:40px;
      height:200px;
      width:200px;
      border-radius: 50%;
      background-image:url(sore-throat.jpg);
      background-size:cover;
      background-repeat: no-repeat;
}

.acne{
   margin-top:10px;
   margin-left:40px;
   height:200px;
   width:200px;
   border-radius: 50%;
   background-image:url(acne.webp);
   background-size:cover;
   background-repeat: no-repeat;
}

.Insomnia{
   margin-top:10px;
   margin-left:40px;
   height:200px;
   width:200px;
   border-radius: 50%;
   background-image:url(Insomnia2.webp);
   background-size:cover;
   background-repeat: no-repeat;
}

.Nausea{
   margin-top:10px;
   margin-left:40px;
   height:200px;
   width:200px;
   border-radius: 50%;
   background-image:url(Nausea.jpg);
   background-size:cover;
   background-repeat: no-repeat;
}

.know-about-disease{
   height:90px;
   width:100%;
   font-size:x-large;
   font-weight: 500;
   margin-top:20px;
   padding-left: 40px;
}

.nav-footer{
   height:200px;
   width:100%;
   background-color:rgb(16, 105, 16); ;
}

.footer-para{
 text-align: center;
 padding-top: 20px;
 font-size: larger;
 font-weight: 600;
}

.footer-icon{
   text-align: center;
  height:50px;
  width:100%;
  padding:20px;
   
}

.icon{
   height:20px;
   width:40px;
   font-size: x-large;
}

.login :hover{
   
}

.menu-icon{
   z-index: 1001;
   font-size:30px;
   display:none;
   
}

.prev-btn{
   height:40px;
   width: 40px;
   color:white;
   background-color: black;
   border-radius: 50%;
   border:none;
   outline: none;
   position:absolute;
   left:-5px;
top:140%;
   transform: translateY(-50%);
   
}

.next-btn{
   height:40px;
   width: 40px;
   color:white;
   background-color: black;
   border-radius: 50%;
   border:none;
   outline:none;
   position: absolute;
right: -5px;
top:140%;
   /*transform: translateY(-50%);*/
   
}

.next-btn:hover{
   opacity: 0.2;
}

.prev-btn:hover{
   opacity: 0.2;
}
